%table.table.table-striped.table-hover#spaces-table
  %thead
    %th No
    %th Name
    %th Created at
    %th Address of Space
    %th Actions

  %tbody
    - for storage in storages
      %tr
        %td
          =  forloop.counter
        %td= storage.name
        %td= storage.created_at
        %td= storage.space.address
        %td
          .btn-group
            %a.btn.btn-success{ href: "{% url 'storages_show' storage.id %}" }
              .fa.fa-eye
            %a.btn.btn-primary{ href: "{% url 'storages_update' storage.id %}" }
              .fa.fa-edit
            %form{ role: 'form', method: 'post', action: "{% url 'storages_delete' storage.id %}" }
              - csrf_token
              %button.btn.btn-danger{ type: 'submit'}
                .fa.fa-times
