- extends 'application.html.haml'
- load bootstrap
.row
  - block content
    .row
      .col-md-12
        .page-header
          %h1
            Edit Storage
    .row
      .col-md-12
        %form{ role: 'form', method: 'post' }
          - csrf_token
          = form|bootstrap
           %input{ type: 'hidden', name: 'space_id', value: 1 }

          -# %a.btn.btn-primary{ href: "{% url 'sto rages_edit' storage.id %}" }
          %button.btn.btn-success{ type: 'submit' }
            Save
