- extends 'application.html.haml'
{% load thumbnail %}
- block content

  .row
    .col-md-12
      .page-header
        %h1
          Storages({{storages.count}})
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#spaces-table
          %thead
            %th No
            %th Storage Photo
            %th Name
            %th Created at
            %th Name of Space
            %th Actions

          %tbody
            - for storage in storages
              %tr
              %td=  forloop.counter
                %td=
                  %p
                    {% if storage.image %}
                      {% thumbnail storage.image "120x120" crop="center" as im %}
                        %img{:height => "{{ im.height }}", :src => "{{ im.url }}", :width => "{{ im.width }}"}/
                          {% endthumbnail %}
                            {% endif %}
                %td= storage.name
                %td= storage.created_at
                %td= storage.space.name
                %td
                  -#katw gramh lathos mesa sthn agkylh
                  %a.pull-right.btn.btn-primary{ href: "{% url 'items_add_existing_storage' item.id %} ?storage_id ={{ storage.id }}" }
                    .fa.fa-plus
                    Add to this Storage