- extends 'application.html.haml'
{% load thumbnail %}
- block content
  .row
    .col-md-12
      .page-header
        %h1
          This is a list of all available items
          %a.pull-right.btn.btn-primary{ href: "{% url 'items_new' %}" }
            Add
        .text-muted
          You can use any of those items to add them to your storage.
          If you need additional items, please add them
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#items-table
          %thead
            %th No
            %th Item Photo
            %th Name
            %th Description
            %th Latest purschase (euro)
            %th Actions

          %tbody
            - for item in items
              %tr
                %td= forloop.counter
                %td=
                  %p
                    {% if item.image %}
                      {% thumbnail item.image "120x120" crop="center" as im %}
                        %img{:height => "{{ im.height }}", :src => "{{ im.url }}", :width => "{{ im.width }}"}/
                          {% endthumbnail %}
                            {% endif %}
                %td=item.name
                %td=item.description
                %td=item.price_bought
                %td
                  .btn-group
                    %a.btn.btn-primary{ href: "{% url 'items_update' item.id %}" }
                      .fa.fa-edit
                  %form{ role: 'form', method: 'post', action: "{% url 'items_delete' item.id %}" }
                    - csrf_token
                    %input{ type: 'hidden', name: 'item_id', value: "{{ item.id }}" }
                    %button.btn.btn-danger{ type: 'submit'}
                      .fa.fa-times
                    %a.pull-right.btn.btn-primary{ href: "{% url 'items_add_to_storage' item.id %}"}
                      .fa.fa-plus
                      Add Item to existing Storage



