- extends 'application.html.haml'
- load bootstrap
.row
  - block content
    .row
      .col-md-12
        .page-header
          %h1
            Add new item
    .row
      .col-md-12
        %form{ role: 'form', enctype:'multipart/form-data', method: 'post' }
          - csrf_token
          = form|bootstrap
          %input{ type: 'hidden', name: 'storage_id', value: "{{ storage.id }}" }
          %button.btn.btn-success{ type: 'submit' }
            Save

