- load bootstrap3
- load staticfiles

-# Incllude fontawesome icons
%link{ rel: 'stylesheet', href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: 'anonymous' }
-# Include css files
%link{ rel: 'stylesheet', href: "{% static 'css/layout.css' %}" }

%html
  %head
    - bootstrap_css
    - bootstrap_messages

    %title Supplies Tracker
  %body
    {% include 'navbar.html.haml' %}

    .container#content
      .row
        .col-md-12
          - block content

    %footer#footer
      {% include 'footer.html.haml' %}
