- load staticfiles

%html
  %head
    %link{ rel: "stylesheet", href: "{% static 'bootstrap/css/bootstrap.min.css' %}" }
    %link{ rel: "stylesheet", href: "{% static 'fontawesome/css/font-awesome.min.css' %}" }
    %link{ rel: "stylesheet", href: "{% static 'table/css/datatable.bootstrap.css' %}" }
    %link{ rel: 'stylesheet', href: "{% static 'css/layout.css' %}" }

    %title Supplies Tracker
  %body
    {% include 'navbar.html.haml' %}

    .container#content
      .row
        .col-md-12
          - block content

    %footer#footer
      {% include 'footer.html.haml' %}
    %script{ src: "{% static 'bootstrap/js/jquery.min.js' %}" }
    %script{ src: "{% static 'bootstrap/js/bootstrap.min.js' %}" }

    %script{ src: "{% static 'table/js/jquery.browser.min.js' %}" }
    %script{ src: "{% static 'table/js/jquery.dataTables.min.js' %}" }
    %script{ src: "{% static 'table/js/bootstrap.dataTables.js' %}" }
    %script{ src: "{% static 'js/custom.js' %}" }
    - block javascript
