- extends 'application.html.haml'
- load bootstrap

- block content

  .row
    .col-md-12
      %h3
        An error has occured. We could not find what you are looking for!
        Please try again or go back and fix what is wrong.
