- extends 'application.html.haml'
- load bootstrap

- block content
  .row
    .col-md-12
      %h2.text-center
        We are sorry to inform you that an
        %b error
        has occured.
      %br
      %h3.text-center
        We could not find what you are looking for! Please try again or go back.
        %br
      	%br
        If the problem persist, please contact us.
