- extends 'application.html.haml'
- block content
  .row
    .col-md-12
      .page-header
        %h2 Welcome!
  .row
    .col-md-12
      Add spaces and managr their storages

  - if search_results
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#spaces-table
          %thead
            %th No
            %th Type
            %th Photo
            %th Name
            %th Description

          %tbody
            - for _index, result in search_results
              %tr
                %td
                  =  forloop.counter
                %td
                  = result.class_name
                %td
                  - include '_thumbnail.html.haml' with object=result

                %td= result.name
                %td= result.description
