- extends 'application.html.haml'
- load bootstrap

- block content
  .row
    .col-md-12
      %h2.text-center
        Item already
        %b exists
        in this Storage.
      %br
      %h3.text-center
        Please check quantity or add another one.
        %br
      	%br
        If item not shown in Storage , please contact us.