%form{ role: 'form', action: "{% url 'home' %}", method: 'get' }
   .input-group#search-box
     .form-group#search-box
       %input.form-control#search-keyword{ type: 'text', name: 'search-keyword', value: 'Find space or storage' }
     %span.input-group-btn
       %button.btn.btn-success{ type: 'submit' }
         Search
