#content{
  width: 90%;
}

body {
  padding-top: 90px !important;
}

footer {
  padding-top: 90px !important;
}

.navbar li a {
  font-size: 18px;
}

.paging_bootstrap {
  float: right !important;
}

.pagination {
  margin: 0;
}

#spaces-table_filter {
  float: right;
}

div.dataTables_length label{
  float: left !important;
}
