@import 'https://fonts.googleapis.com/css?family=Arvo';
html{
  background-color: #01d7f9 !important;
  /*background-color: #3ca4ff !important;*/
}

#content{
  width: 90%;
}

body {
  padding-top: 20px !important;
  margin: 50px !important;
}

footer {
  padding-top: 90px !important;
  background-color:
}

.navbar-default {
  background-color: #b7d1e7 !important;
}

.navbar-default a{
  color: #2b3b40 !important;
}

.navbar-default li.active a {
  color: #2b3b40 !important;
  background-color: #01d7f9 !important;
  /*background-color: #3ca4ff !important;*/

}

footer > .container-fluid{
  background-color: #b7d1e7 !important;
}

.navbar li a {
  font-size: 18px;
}

.paging_bootstrap {
  float: right !important;
}

.pagination {
  margin: 0;
}

#spaces-table_filter {
  float: right;
}

div.dataTables_length label{
  float: left !important;
}

.dataTables_filter{
  float: right !important;
}

div.dataTables_filter input, .form-control:focus {
  border-left: 1px solid #ccc !important;
}

.form-control:focus {
  border-color: #a3a2f9;
  border-left: 1px solid #a3a2f9 !important;
}

form {
  display: inline !important;
}

/* Fix align in input-group with label */
#storages_select_space .form-group {
  margin-top: -5px;
}

.input-group#search-box {
  padding: 10px
}

.form-control {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

#storage-sums{
  padding-left: 5% !important;
}

h1{
  font-family: 'Arvo';
}
