- extends 'application.html.haml'
{% load thumbnail %}
- block content
  .row
    .col-md-12
      .page-header
        %h1
          This is a list of all spaces
          %a.pull-right.btn.btn-primary{ href: "{% url 'spaces_new' %}" }
            Add
        .text-muted
          View your created spaces .
          You can always create a new space for your needs
    .row
      .col-md-12
        %table.table.table-striped.table-hover#spaces-table
          %thead
            %th No
            %th Photo
            %th Name
            %th Description
            %th Address
            %th Actions

          %tbody
            - for _index, space in enum_spaces
              %tr
                %td
                  =  forloop.counter
                  %td=
                    %p
                      {% if space.image %}
                        {% thumbnail space.image "120x120" crop="center" as im %}
                          %img{:height => "{{ im.height }}", :src => "{{ im.url }}", :width => "{{ im.width }}"}/
                            {% endthumbnail %}
                              {% endif %}
                %td=space.name
                %td=space.description
                %td=space.address
                %td
                  .btn-group
                    %a.btn.btn-success{ href: "{% url 'spaces_show' space.id %}" }
                      .fa.fa-eye
                    %a.btn.btn-primary{ href: "{% url 'spaces_update' space.id %}" }
                      .fa.fa-edit
                    %a.btn.btn-primary{ href: "{% url 'storages_new' %}?space_id={{ space.id }}" }
                      .fa.fa-plus
                        Storage

                  %form{ role: 'form', method: 'post', action: "{% url 'spaces_delete' space.id %}" }
                    - csrf_token
                    %input{ type: 'hidden', name: 'space_id', value: "{{ space.id }}" }
                    %button.btn.btn-danger{ type: 'submit'}
                      .fa.fa-times
