- extends 'application.html.haml'
{% load thumbnail %}
- block content
  .row
    .col-md-12
      .page-header
        %h1
          - if user.is_anonymous
            Available Spaces
          - else
            Your Spaces
          - if spaces.count > 0
            ({{spaces.count}})
          - if not user.is_anonymous
            %a.pull-right.btn.btn-primary{ href: "{% url 'spaces_new' %}" }
              Add
        .text-muted
          View your created spaces.
          You can always create a new space for your needs
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#spaces-table
          %thead
            %th No
            %th Photo
            %th Name
            %th Description
            %th Address
            %th Actions

          %tbody
            - for space in spaces
              %tr
                %td
                  =  forloop.counter
                  %td=
                    %p
                      - if space.image
                        - thumbnail space.image "120x120" crop="center" as im
                          %img{:height => "{{ im.height }}", :src => "{{ im.url }}", :width => "{{ im.width }}"}/
                        - endthumbnail
                %td= space.name
                %td= space.description
                %td= space.address
                %td
                  .btn-group
                    %a.btn.btn-success{ href: "{% url 'spaces_show' space.id %}" }
                      .fa.fa-eye

                    - if not user.is_anonymous
                      %a.btn.btn-primary{ href: "{% url 'spaces_update' space.id %}" }
                        .fa.fa-edit
                      %a.btn.btn-primary{ href: "{% url 'storages_new' space.id%}", style: 'padding: 3px 12px 3px 12px;' }
                        .fa.fa-plus
                        Storage

                      %form.btn-group{ role: 'form', method: 'post', action: "{% url 'spaces_delete' space.id %}" }
                        - csrf_token
                        %input{ type: 'hidden', name: 'space_id', value: "{{ space.id }}" }
                        %button.btn.btn-danger{ onclick: 'clicked(event)'}
                          .fa.fa-times
