- extends 'application.html.haml'

- block content

  .row
    .col-md-12
      .page-header
        %h2
          = space.name
          - if not user.is_anonymous
            %a.pull-right.btn.btn-primary{ href: "{% url 'storages_new' space.id%}" }
              .fa.fa-plus
              Add Storage
        .text-muted
          = space.description
          - if space.address
            .fa.fa-map-marker
            = space.address
  .row
    .col-md-12
      - include '_map.html.haml' with address=space.address
      %h2
        Available storages
        ({{ storages.count }})

      - if storages
        .well
          - include 'storages/_storages_table.html.haml'
      - else
        There are no available storages. Please add one!
